@charset "utf-8";
/* CSS Document */

#menu{
	position:absolute;
	top:250px;
	left:260px;
	width:745px;
	background-color:#000;
	height:40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
	background-image: -moz-linear-gradient(#000, #444); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));	
	background-image: -webkit-linear-gradient(#000, #444);	
	background-image: -o-linear-gradient(#000, #444);
	background-image: -ms-linear-gradient(#000, #444);
	background-image: linear-gradient(#000, #444);
	box-shadow: 0px 0px 20px #FFF;
	border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
}

#menu ul{
	list-style:none;
	position:relative;
	top:-11px;
	left:-35px;
	width:745px;
}

#menu ul li{
	float:left;
	padding:5px 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color:#FFF;

}

#menu ul li:hover{
	box-shadow: 0px 0px 100px #FFF;
	background: rgba(225,225,225,.9);
	border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
	color:#000;
}

#menu a{
	text-decoration: none;
	font-family:Georgia, "Times New Roman", Times, serif;
}


body{
	background-color:#000;
	background-image:url(../res/img/negative.jpg);
}

#body{
	position:absolute;
	top:320px;
	left:260px;
	box-shadow: 0px 0px 20px #FFF;
    background: rgba(225,225,225,.2);
    border-color:	#FFFFFF;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
	width:720px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#DDD;
	font-weight:normal;
}

#body p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#DDD;
	font-weight:normal;
}
#body h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#FFF;
	font-weight:300;
	font-size:24px;	
}



#body a{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#DDD;
	font-weight:normal;
	text-decoration:none;
}

#body li{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#DDD;
	font-weight:normal;
}

#body a:hover{
	color:#FFF;
}

#page{
	position:absolute;
	top:20px;
	left:240px;
	box-shadow: 0px 0px 20px #FFF;
    background: rgba(225,225,225,.2);
    border-color:	#FFFFFF;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
	width:760px;
	height:695px;
}

#webTitle{
	color:#FFF;
	position:absolute;
	top:35px;
	left:475px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:48px;
	font-weight:100;
	width:500px;
}

#caption{
	color:#AAA;
	position:absolute;
	top:100px;
	left:475px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	font-weight:100;
	font-style:italic;	
	width:500px;
}

#pic{
	position:absolute;
	top:40px;
	left:260px;
	width:190px;
	height:190px;
	background-color:#FFF;
	box-shadow: 0px 0px 10px #FFF;
    background: rgba(225,225,225,.2);
    border-color:	#FFFFFF;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    border-radius: 5px;
}

#profilepic{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    border-radius: 5px;
	width: 180px;
	height:180px;
	position:absolute;
	top:5px;
	left:5px;
}

#copyright{
	color:#AAA;
	position:absolute;
	top:705px;
	left:810px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-weight:100;
	width:300px;	
}

#theme{
	position:absolute;
	top:705px;
	left:260px;
	width: 80px;
	height:17px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    border-radius: 5px;
	padding-left:17px;
	background: rgba(90,90,90,.3);
}

#theme:hover{
	background: rgba(225,225,225,.3);
	box-shadow: 0px 0px 10px #FFF;
}

#theme a{
	color:#DDDDDD;
	text-decoration:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-weight:100;
}